body{
    background-image: url(https://cutewallpaper.org/21/1080p-gif-wallpaper/The-Value-of-Anything-Papel-de-parede-de-coracao-Papeis-.gif);
}
h1{
    text-align: center;
    color:greenyellow;
}